@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-color: #F3EEE7;
  --text-color: #6B6B6B;
}

* {
  font-family:'"Times New Roman"', 'Times', 'serif' !important;
}

body {
  background-color: var(--background-color) !important;
  color: var(--text-color) !important;
  overflow-x: hidden !important;
}

p, li {
  font-size: 14px !important;
  color: var(--text-color) !important;
  line-height: 24px !important;
  font-weight: 300 !important;
}

/* Nav Bar CSS START */
.sticky-nav-bar {
  position: fixed;
  top: -100px; 
  left: 0;
  width: 100%;
  background: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  animation: slideDown 0.5s ease-in-out forwards;
}

@keyframes slideDown {
  from {
      top: -100px; 
      opacity: 0;
  }
  to {
      top: 0; 
      opacity: 1;
  }
}
/* Nav Bar CSS END */




