@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-color: #F3EEE7;
  --text-color: #2c2b2b;
}


body {
  background-color: var(--background-color) !important;
  color: var(--text-color) !important;
  overflow-x: hidden !important;
}

p, li {
  font-size: 15px !important;
  color: var(--text-color) !important;
  line-height: 24.9px !important;
  font-weight: 400 !important;
  font-family: 'Arial' !important;
}

/* Nav Bar CSS START */
.sticky-nav-bar {
  position: fixed;
  top: -150px; 
  left: 0;
  width: 100%;
  background: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  animation: slideDown 0.5s ease-in-out both;
}

@keyframes slideDown {
  from {
      top: -150px; 
      opacity: 0;
  }
  to {
      top: 0; 
      opacity: 1;
  }
}
/* Nav Bar CSS END */

/* Start Media Query For Reponsize */
@media (max-width:600px) {
  h1,h2,h3,h4,h5,h6{
    font-size: 16px !important;
    font-weight: 800 !important;
    letter-spacing: 0.1rem !important;
  }
  p{
    font-size: 14px !important;
  }
  img{
    border-radius: 3px;
  }
}
/* End Media Query For Reponsize */





