@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-color: #F3EEE7;
  --text-color: #6B6B6B;
}

* {
  font-family:'"Times New Roman"', 'Times', 'serif' !important;
}

body {
  background-color: var(--background-color) !important;
  color: var(--text-color) !important;
  overflow-x: hidden !important;
}

p, li {
  font-size: 14px !important;
  color: var(--text-color) !important;
  line-height: 24px !important;
  font-weight: 300 !important;
}


